openapi: 3.0.0
info:
  title: IT Project Management API
  description: 프로젝트 관리 및 투두 리스트 API 명세서
  version: 1.0.0
  contact:
    name: API Support
    email: support@itproject.com
  license:
    name: MIT

servers:
  - url: https://firestore.googleapis.com/v1/projects/it-project-4a71c/databases/(default)/documents
    description: Firebase Firestore API Server
  - url: http://localhost:3000/api
    description: Local Development Server

tags:
  - name: Projects
    description: 프로젝트 관리 API
  - name: Subtasks
    description: 세부 프로젝트(서브태스크) 관리 API
  - name: Todos
    description: 투두 항목 관리 API

paths:
  /projects:
    get:
      tags:
        - Projects
      summary: 사용자의 모든 프로젝트 조회
      description: 현재 사용자의 모든 프로젝트를 조회합니다.
      parameters:
        - name: userId
          in: query
          description: 사용자 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 프로젝트 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  positions:
                    type: object
                    description: 프로젝트 위치 정보 (ID: position)
                    additionalProperties:
                      $ref: '#/components/schemas/Position'
        '400':
          description: 잘못된 요청
        '500':
          description: 서버 오류

    post:
      tags:
        - Projects
      summary: 새로운 프로젝트 생성
      description: 새로운 프로젝트를 생성합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '201':
          description: 프로젝트 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: 잘못된 요청
        '500':
          description: 서버 오류

  /projects/{projectId}:
    get:
      tags:
        - Projects
      summary: 프로젝트 상세 조회
      description: 특정 프로젝트의 상세 정보를 조회합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 프로젝트 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

    put:
      tags:
        - Projects
      summary: 프로젝트 수정
      description: 프로젝트 정보를 수정합니다. (서브태스크 포함)
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: 프로젝트 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

    delete:
      tags:
        - Projects
      summary: 프로젝트 삭제
      description: 프로젝트를 삭제합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 프로젝트 삭제 성공
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/position:
    patch:
      tags:
        - Projects
      summary: 프로젝트 위치 업데이트
      description: 캔버스에서 프로젝트의 위치를 업데이트합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Position'
      responses:
        '200':
          description: 위치 업데이트 성공
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/batch/positions:
    patch:
      tags:
        - Projects
      summary: 여러 프로젝트 위치 일괄 업데이트
      description: 여러 프로젝트의 위치를 한 번에 업데이트합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Position'
              example:
                project-1: { x: 400, y: 250, radius: 75 }
                project-2: { x: 650, y: 400, radius: 55 }
      responses:
        '200':
          description: 위치 일괄 업데이트 성공
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks:
    get:
      tags:
        - Subtasks
      summary: 프로젝트의 모든 서브태스크 조회
      description: 특정 프로젝트에 속한 모든 서브태스크를 조회합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 서브태스크 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subtask'
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

    post:
      tags:
        - Subtasks
      summary: 서브태스크 추가
      description: 프로젝트에 새로운 서브태스크를 추가합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubtaskInput'
      responses:
        '201':
          description: 서브태스크 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subtask'
        '404':
          description: 프로젝트를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks/{subtaskId}:
    get:
      tags:
        - Subtasks
      summary: 서브태스크 상세 조회
      description: 특정 서브태스크의 상세 정보를 조회합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 서브태스크 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subtask'
        '404':
          description: 서브태스크를 찾을 수 없음
        '500':
          description: 서버 오류

    put:
      tags:
        - Subtasks
      summary: 서브태스크 수정
      description: 서브태스크 정보를 수정합니다. (투두 포함)
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubtaskUpdate'
      responses:
        '200':
          description: 서브태스크 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subtask'
        '404':
          description: 서브태스크를 찾을 수 없음
        '500':
          description: 서버 오류

    delete:
      tags:
        - Subtasks
      summary: 서브태스크 삭제
      description: 서브태스크를 삭제합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 서브태스크 삭제 성공
        '404':
          description: 서브태스크를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks/{subtaskId}/todos:
    get:
      tags:
        - Todos
      summary: 서브태스크의 모든 투두 조회
      description: 특정 서브태스크에 속한 모든 투두를 조회합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회할 날짜 (YYYY-MM-DD 형식, 선택사항)
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 투두 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  todos:
                    type: object
                    description: 날짜별 투두 그룹
                    additionalProperties:
                      type: array
                      items:
                        $ref: '#/components/schemas/Todo'
        '404':
          description: 서브태스크를 찾을 수 없음
        '500':
          description: 서버 오류

    post:
      tags:
        - Todos
      summary: 투두 추가
      description: 서브태스크에 새로운 투두를 추가합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TodoInput'
      responses:
        '201':
          description: 투두 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '404':
          description: 서브태스크를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks/{subtaskId}/todos/{todoId}:
    get:
      tags:
        - Todos
      summary: 투두 상세 조회
      description: 특정 투두의 상세 정보를 조회합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: todoId
          in: path
          description: 투두 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 투두 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '404':
          description: 투두를 찾을 수 없음
        '500':
          description: 서버 오류

    put:
      tags:
        - Todos
      summary: 투두 수정
      description: 투두 정보를 수정합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: todoId
          in: path
          description: 투두 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TodoUpdate'
      responses:
        '200':
          description: 투두 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '404':
          description: 투두를 찾을 수 없음
        '500':
          description: 서버 오류

    delete:
      tags:
        - Todos
      summary: 투두 삭제
      description: 투두를 삭제합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: todoId
          in: path
          description: 투두 ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 투두 삭제 성공
        '404':
          description: 투두를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks/{subtaskId}/todos/{todoId}/progress:
    patch:
      tags:
        - Todos
      summary: 투두 진행도 업데이트
      description: 투두의 진행도를 업데이트합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: todoId
          in: path
          description: 투두 ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                progress:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: 진행도 (0~100)
              required:
                - progress
      responses:
        '200':
          description: 진행도 업데이트 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '404':
          description: 투두를 찾을 수 없음
        '500':
          description: 서버 오류

  /projects/{projectId}/subtasks/{subtaskId}/todos/{todoId}/postpone:
    patch:
      tags:
        - Todos
      summary: 투두 연기
      description: 투두의 날짜를 다음날로 변경합니다.
      parameters:
        - name: projectId
          in: path
          description: 프로젝트 ID
          required: true
          schema:
            type: string
        - name: subtaskId
          in: path
          description: 서브태스크 ID
          required: true
          schema:
            type: string
        - name: todoId
          in: path
          description: 투두 ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 투두 연기 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '404':
          description: 투두를 찾을 수 없음
        '500':
          description: 서버 오류

components:
  schemas:
    Project:
      type: object
      description: 프로젝트 정보
      properties:
        id:
          type: string
          description: 프로젝트 ID
          example: project-1
        title:
          type: string
          description: 프로젝트 제목
          example: 웹 개발 프로젝트
        description:
          type: string
          description: 프로젝트 설명
          example: React로 포트폴리오 웹사이트 만들기
        priority:
          type: string
          enum: ['상', '중', '하']
          description: 우선순위
          example: 상
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률 (0-100)
          example: 65
        deadline:
          type: string
          format: date-time
          description: 마감일
          example: 2025-11-15T00:00:00Z
        ownerId:
          type: string
          description: 소유자 ID
          example: mock-user-123
        position:
          $ref: '#/components/schemas/Position'
        subtasks:
          type: array
          description: 세부 프로젝트 목록
          items:
            $ref: '#/components/schemas/Subtask'
        createdAt:
          type: string
          format: date-time
          description: 생성일시
          example: 2025-10-15T00:00:00Z
        updatedAt:
          type: string
          format: date-time
          description: 수정일시
          example: 2025-10-28T00:00:00Z
      required:
        - id
        - title
        - priority
        - progress
        - deadline
        - ownerId

    ProjectInput:
      type: object
      description: 프로젝트 생성/수정 입력 데이터
      properties:
        title:
          type: string
          description: 프로젝트 제목
          example: 웹 개발 프로젝트
        description:
          type: string
          description: 프로젝트 설명
          example: React로 포트폴리오 웹사이트 만들기
        priority:
          type: string
          enum: ['상', '중', '하']
          description: 우선순위
          example: 상
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률
          example: 65
        deadline:
          type: string
          format: date-time
          description: 마감일
          example: 2025-11-15T00:00:00Z
        ownerId:
          type: string
          description: 소유자 ID
          example: mock-user-123
        position:
          $ref: '#/components/schemas/Position'
      required:
        - title
        - priority
        - deadline
        - ownerId

    ProjectUpdate:
      type: object
      description: 프로젝트 수정 데이터
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: ['상', '중', '하']
        progress:
          type: integer
          minimum: 0
          maximum: 100
        deadline:
          type: string
          format: date-time
        position:
          $ref: '#/components/schemas/Position'
        subtasks:
          type: array
          items:
            $ref: '#/components/schemas/Subtask'

    Position:
      type: object
      description: 캔버스 위치 정보
      properties:
        x:
          type: number
          description: X 좌표
          example: 400
        y:
          type: number
          description: Y 좌표
          example: 250
        radius:
          type: number
          description: 원의 반지름
          example: 75
      required:
        - x
        - y
        - radius

    Subtask:
      type: object
      description: 세부 프로젝트(서브태스크) 정보
      properties:
        id:
          type: string
          description: 서브태스크 ID
          example: subtask-1-1
        title:
          type: string
          description: 서브태스크 제목
          example: UI 디자인
        priority:
          type: string
          enum: ['상', '중', '하']
          description: 우선순위
          example: 상
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률
          example: 80
        deadline:
          type: string
          format: date-time
          description: 마감일
          example: 2025-11-05T00:00:00Z
        startDate:
          type: string
          format: date-time
          description: 시작일
          example: 2025-10-20T00:00:00Z
        endDate:
          type: string
          format: date-time
          description: 종료일
          example: 2025-11-05T00:00:00Z
        todos:
          type: object
          description: 날짜별 투두 그룹 (key: YYYY-MM-DD)
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Todo'
          example:
            '2025-10-20':
              - id: todo-1-1-1
                text: 와이어프레임 작성
                progress: 100
                completed: true
                createdAt: 2025-10-20T00:00:00Z
      required:
        - id
        - title
        - priority
        - progress
        - deadline

    SubtaskInput:
      type: object
      description: 서브태스크 생성/수정 입력 데이터
      properties:
        title:
          type: string
          description: 서브태스크 제목
          example: UI 디자인
        priority:
          type: string
          enum: ['상', '중', '하']
          description: 우선순위
          example: 상
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률
          example: 80
        deadline:
          type: string
          format: date-time
          description: 마감일
          example: 2025-11-05T00:00:00Z
        startDate:
          type: string
          format: date-time
          description: 시작일
          example: 2025-10-20T00:00:00Z
        endDate:
          type: string
          format: date-time
          description: 종료일
          example: 2025-11-05T00:00:00Z
      required:
        - title
        - priority
        - deadline

    SubtaskUpdate:
      type: object
      description: 서브태스크 수정 데이터
      properties:
        title:
          type: string
        priority:
          type: string
          enum: ['상', '중', '하']
        progress:
          type: integer
          minimum: 0
          maximum: 100
        deadline:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        todos:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Todo'

    Todo:
      type: object
      description: 투두 항목 정보
      properties:
        id:
          type: string
          description: 투두 ID (타임스탬프 또는 UUID)
          example: '1697779200000'
        text:
          type: string
          description: 투두 텍스트
          example: 와이어프레임 작성
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행도 (0 또는 100)
          example: 100
        completed:
          type: boolean
          description: 완료 여부 (progress === 100일 때 true)
          example: true
        createdAt:
          type: string
          format: date-time
          description: 생성일시 (투두가 속한 날짜)
          example: 2025-10-20T00:00:00Z
      required:
        - id
        - text
        - progress
        - createdAt

    TodoInput:
      type: object
      description: 투두 생성/수정 입력 데이터
      properties:
        text:
          type: string
          description: 투두 텍스트
          example: 와이어프레임 작성
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행도 (0 또는 100)
          example: 0
        createdAt:
          type: string
          format: date-time
          description: 생성일시
          example: 2025-10-20T00:00:00Z
      required:
        - text
        - createdAt

    TodoUpdate:
      type: object
      description: 투두 수정 데이터
      properties:
        text:
          type: string
        progress:
          type: integer
          minimum: 0
          maximum: 100
        createdAt:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    ServerError:
      description: 서버 오류
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
